*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --DarkBlueintroandemailsignupbackground: hsl(217, 28%, 15%);
    --DarkBluemainbackground: hsl(217, 37%, 19%);
    --DarkBluefooterbackground: hsl(215, 47%, 15%);
    --DarkBluetestimonialsbackground: hsl(219, 30%, 18%);
    --CyanInsidecall-to-actiongradient: hsl(176, 68%, 64%);
    --Blueinsidecall-to-actiongradient: hsl(198, 60%, 50%);
    --LightRederror: hsl(0, 100%, 63%);
    --White: hsl(0, 0%, 100%);
}
body{
    background-color: var(--DarkBluemainbackground);
    background-image: url(./images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 15% 55%;
    min-height: 100vh;
    color: var(--White);
    font-family: 'Open Sans', sans-serif;
    Font-size: 14px;
    justify-content: center;
}

h2,h1{
    font-family: 'Raleway', sans-serif;
}
main{
    padding: 35px;
    position: relative;
   
}


nav img{
    
    width: 100px;
   margin-top: 20px;
   
   margin-right: 60px;
   
}

nav  a{
   
    color: var(--White);
    text-decoration: none;
}

nav li{
   display: inline-block;
    list-style: none;
    padding: 5px;
   
   
}


.text{
    text-align: center;
}

.text h1{
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.text p{
    font-weight: 200;
    font-size: 12px;
    color:rgba(255, 255, 255, 0.712);
}

.link-get a{
   display:inline-block ;
    color: var(--White);
    background-color: var(--Blueinsidecall-to-actiongradient);
    text-decoration: none;
    margin-top: 2rem;
    padding: 10px 70px;
    border-radius: 20px;
    background:linear-gradient( hsl(176, 68%, 64%),hsl(198, 60%, 50%));


}

 a:hover{
    background-color: black;
}

.hero-img img{
    width: 100%;
   
    
}

.text-present{
   
    align-content: center;
    
}

.box-grid{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 2.5rem;
    margin-top: 6rem;
    
    
}
.box{
    
    padding: 20px;
    text-align: center;
   
}
.box img{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.box h2{
    font-size: 1em;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box p{
    font-size: 13px;
}

.productive-card{
    margin-top: 20px;
    text-align: center;
   
}
.productive-card h2{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.productive-card p {
    margin-top: 18px;
    margin-bottom: 30px;
   color: rgba(255, 255, 255, 0.712);
    
}

.productive-card a{
    position: absolute;
    line-height: 5;
    left: 10%;
    color: var(--CyanInsidecall-to-actiongradient);
}

.testimonial-grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
 
    
}
.test{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.712);
   padding: 1.5rem;
   line-height: 1.5;
    background-color: var(--DarkBlueintroandemailsignupbackground);
    box-shadow: rgba(56, 56, 56, 0.12) 0px 2px 4px 0px, rgba(44, 44, 44, 0.32) 0px 2px 16px 0px;

    
    
}
.test img{
    width: 40px;
    border-radius: 50%;
}

.test p:nth-child(1){

     margin-bottom: 20px;
}
    
.test:nth-child(3){
    margin-bottom: 6rem;
}

.flexid{
    display: flex;
    line-height: .5;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.712);
}

.flexid p:nth-child(1){
    font-weight: 700;
    color: var(--White);
}



.signup{
   text-align: center;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: var(--DarkBlueintroandemailsignupbackground);
    border-radius: 13px;
    display: block;
    position: absolute;
    margin:30px;
    align-items: center;
  
    z-index: 1;
}

.signup p{
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.712);
}

form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    /* border: none; */
    
}

input[type=email]{
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}
input[type=submit]{
    border: none;
    background:hsl(198, 60%, 50%);
    border-radius: 20px;
    padding: 10px;
    color: var(--White);
    font-weight: 700;
    /* ggg */
}
input[type=submit]:hover{
    background-color: rgb(161, 202, 202);
    
}
footer{
    background-color: var(--DarkBluefooterbackground);
   
    margin-top: 12rem;
    position: absolute;
    margin-bottom: 5rem;
    padding: 40px;
}



.footer-grid{
        display: grid;
        grid-template-columns: 1fr;
        color: var(--White);
        text-decoration: none;
        margin-top: 12rem;
        row-gap: 30px;
        
}
       

.img-footer-logo img{
    width: 150px;
    margin-left: 20px;
    margin-top: 20px;
}
.flexlocation{
    display: flex;
    gap: 20px;
    line-height: 1.5;
    padding-right: 15px;
}



.social{
    
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.box-footer{
    line-height: 3;
}
.box-footer a {
    color: white;
    text-decoration: none;
    
} 

.box-footer li{
    list-style: none;
}

.box-footer2{
    line-height: 4;
}
.box-footer2 li span{
    padding-left: 1em;
}


.social a:nth-child(2){
    margin-left: 5px;
    margin-right: 5px;
}
.social a{
    
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
    
}
.social a:hover{
    color: var(--Blueinsidecall-to-actiongradient);
}





@media screen and (min-width:400px) {

    body{
      
        background-image: url(./images/bg-curvy-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
    
        background-position: 50% 55%;
        min-height: 100vh;
        color: var(--White);
        font-family: 'Open Sans', sans-serif;
        Font-size: 14px;
        justify-content: center;
    }

    .hero-img img{
        width: 100%;
       
        
    }

    nav img{
        display: block;
        position: static;
    }
nav li{
    display: inline-block;
     list-style: none;
     padding: 5px;
    ;
    
    
 }

    .text-present{
        padding: 50px;
    }

    .box-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 90px;    
    }

    .box{
        padding: 40px;
    }

    .testimonial-grid{
       
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5rem;
        
        
    }
    .productive-card{
        display: flex;
        margin: 40px;
    }


    .footer-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: 
        "five . . ."
        "one two three four ";

    }

    .box-footer1{
        grid-area: one;
    }
    .box-footer2{
        grid-area: two;
    }
    .box-footer3{
        grid-area: three;
    }
    .box-footer4{
        grid-area: four;
    }
    .img-footer-logo{
        grid-area: five;
    }
   


    
.signup{
    text-align: center;
     padding: 40px;
     width: 400px;
     
 }

 
 form{
     display: flex;
     flex-direction: row;
    
     gap: 25px;
     
     /* border: none; */
     
 }
 
 input[type=email]{
     border: none;
     border-radius: 20px;
     padding: 10px;
     margin-top: 20px;
 }
 input[type=submit]{
     
     /* ggg */
 }
    
    .social a{
        display: inline;
       
        }
}